*{
  margin: 0;
  padding: 0;
}

#navbar{
  display: flex;
  align-items: center;
  position: sticky;
}

#navbar ul li a{
  color: white;
  display: block;
  padding: 3px 22px;
  text-decoration: none;
}

#logo{
  margin: 3px 5px;
}

#logo img{
  margin: 3px 4px;
  height: 66px;
}

#navbar ul{
  display: flex;
  font-family: 'Baloo Bhai', cursive;
}

#navbar::before{
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}

#navbar ul li{
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a{
  color: white;
  display: block;
  border-radius: 20px;
  padding: 3px 22px;
  text-decoration: none;
}

#navbar ul li a:hover{
  color: black;
  background-color: white;
}

#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 3px 20%;
}

#home::before{
  content: "";
  background: url('../images/header-bg.jpeg') no-repeat center center/cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.89;
}

.h-primary{
  font-size: 3.8rem;
  padding: 12px;
}

#home h1{
  color: white;
  text-align: center;
  font-family: 'Bree Serif', serif;
}

#home p{
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Bree Serif', serif;
}

.btn{
  padding: 6px 20px;
  border: 2px solid white;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}